.big_box {
  background-color: #f2f2f2;
}

.big_box .box_title {
  padding-left: 15px;
  height: 50px;
  line-height: 49px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-weight: 700;
}

.big_box .box_title:first-child(1) {
  border-top: 1px solid #ccc;
}

.pro_list {
  display: none;
}

.pro_list a {
  background-color: #f9f9f9;
  float: left;
  text-align: center;
  height: 50px;
  line-height: 48px;
  display: block;
  width: 33.33%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}